# DemoBlogFrontend
Frontend/.vscode/
Frontend/.DS_Store
Frontend/node_modules
Frontend/public/*bundle*
Frontend/public/*.css
Frontend/package-lock.json
Frontend/publish.sh
Frontend/publish.ps1

# DemoBlogBackend
.vs/
bin/
obj/
*.user
*.db

# DemoBlogBaseBuilder
BaseBuilder/Properties/

# Doc
Doc/*.pdf

# Tests
Tests/Resources/Strings.Designer.cs