# General
.vs
.vscode/
bin/
obj/
*.user
*.filters
*.db
Strings.Designer.cs

# DemoBlogFrontend
/Frontend/.DS_Store
/Frontend/node_modules
/Frontend/public/*bundle*
/Frontend/public/*.css
/Frontend/package-lock.json
/Frontend/publish.sh
/Frontend/publish.ps1

# DemoBlogBaseBuilder
/BaseBuilder/Properties/

# Doc
/Doc/*.pdf

# Build
/Build/

# Docker
/Docker/Backend/Outputs
/Docker/Proxy/Outputs

# Publish
/Publish/Release